<h3 class="name-gamescreen">{{name}}</h3>
<img class="avatar-goodguy" src="{{image}}" alt="{{name}}" data-protag-name="{{name}}"/>
<br>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{hp}}" aria-valuemin="0" aria-valuemax="100" style="width: {{hp}}%;">
    <span class="sr-only">{{hp}}</span>
  </div>
</div>
